/* basic */
html {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background-color: #000000;
    height: 100%;
}
body {
    width: 90%;
    height: 100%;
    margin: 20px auto;
    font-family: sans-serif;
    line-height: 50px;
}
h1 {
    font-size: 37px;
    font-weight: bold;
    margin-top: 57px;
}
img {
    display: block;
    margin: 0 auto;
}
ol {
    font-weight: bold;
}

ul {
    font-weight: normal;
    font-size: 29px;
}

/* header (menu) */
header {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 10px 0 10px;
    background-color: #000000;
    top: 0;
    display: flex;
    align-items: center;
}
header .brand img{
    vertical-align: middle;
    display: inline-block;
    width: 49px;

    cursor: pointer;
}
header .brand {
    margin: 0;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 37px;
    font-family: sans-serif;
}
header .header-menu {
    margin: 0;
    color: #ffffff;
    text-decoration: none;
    font-weight: normal;
    font-size: 27px;
    font-family: sans-serif;
}
header ul {
   list-style: none;
   margin: 0;
   display: flex;
}
header li {
   margin: 0 0 0 15px;
   font-size: 14px;
}
header nav {
   margin: 0 0 0 auto;
}
a:link {
    color: #ff9494;
}
a:visited {
    color: #FF5151;
}

/* top page */
.top-image {
    position: relative;
}
.top-image .text-on-img {
    width: 100%;
    position: absolute;
    top: 21%;
}
.top-image .text-on-img p {
    color: #ffffff;
    text-align: center;
    margin-left: 13%;
    margin-right: 13%;
    font-weight: bold;
    font-size: 45px;
    font-family: sans-serif;
    -webkit-text-stroke: 0.5px #000000;
    text-stroke: 0.5px #000000;
}

/* main text */
.main-text {
    width: 90%;
    margin: 20px auto;
}

/* popular-cites */
.popular-cities {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.popular-cities .item {
    /* 横スクロール用 */
    display: inline-block;
    width: 700px;
    height: 550px;
	margin: 0px;
}
.popular-cities .item img{
    width: 700px;
    height: 500px;
}

/* attractions head */
.head-image {
    height: 500px;
    overflow: hidden;
}
.head-image img{
    position: relative;
    width: 90%;
}
.head-image .text-on-img {
    width: 90%;
    position: absolute;
    top: 15%;
    margin-left: auto;
    margin-right: auto;
}
.head-image .text-on-img p {
    color: #ffffff;
    text-align: center;
    margin-left: 13%;
    margin-right: 13%;
    font-weight: bold;
    font-size: 50px;
    font-family: sans-serif;
    -webkit-text-stroke: 0.5px #000000;
    text-stroke: 0.5px #000000;
}
.attraction-text {
    width: 90%;
    margin: 20px auto;
}
.attraction-text img{
    width: 90%;
}

.checkout button {
    background-color: #FF5151;
    color: #FFF;
    padding: 8px 20px;
    border: 0;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 50px;
}